/** @format */

.card {
  background-color: $bg-transparent;
  width: 100%;
  padding: 1rem;
  @include radius;
  display: grid;
  grid-template-columns: 1fr;
  line-height: 1.5;

  .card-title {
    font-family: $font-2;
    color: $text-dark;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .card-snippet {
    font-family: $font-3;
    color: $text-dark;
    padding-bottom: 1rem;
  }
}
