/** @format */

@import "vars";

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height + 1;
  font-size: 1rem;
  background-color: $navbar-bg-transparent;
  padding: 0 1rem;

  z-index: 1000;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;

  .hamburger-menu {
    display: grid;
    width: auto;
    height: 70%;
    
    img {
      justify-self: center;
      height: 100%;
      width: auto;
      padding: 0.5rem;
    }

    @include bp(medium) {
      display: none;
    }
  }

  .nav-logo {
    img {
      height: 4rem;
    }
  }

  .nav-links {
    display: none;
    
    @include bp(medium) {
      justify-self: end;
      height: 100%;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(3, max-content);
      grid-template-areas: "link1 link2 link3";
    }

    .nav-link {
      align-self: center;
      justify-self: center;
      text-decoration: none;
      padding: 0.5rem;

      &:hover, &:active {
        background-color: $color-3;
      }
  
      img {
        height: 2.5rem;
        width: auto;
        align-self: center;
      }
  
    }
    .nav-story {
      grid-area: link1;
    }
  
    .nav-services {
      grid-area: link2;
    }
  
    .nav-quote {
      grid-area: link3;
    }
  }
}
