/** @format */

@import "vars";
@import "defaults";

#services-section {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-areas:
    "anchor"
    "title"
    "gallery";

  #anchor {
    grid-area: anchor;
    // position: relative;
    // font-size: 0;
    top: -$nav-height;
    // margin: 0;
    // padding: 0;
  }

  // h1 {
  //   grid-area: title;
  //   @include h1-style;
  // }

  .gallery {
    grid-area: gallery;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0 1rem;
  }
}
