/** @format */

@import "vars";
@import "defaults";

#story-section {
  color: $text-light;
  font-family: $font-3;
  display: grid;
  grid-template-columns: fit-content;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  justify-items: center;
  padding: 0 1rem 2rem 1rem;

  // @include bp(small) {
  //   grid-template-columns: repeat(2, 1fr);
  //   column-gap: 2rem;
  // }

  // picture {

  //   justify-self: center;
  //   align-self: center;

  //   @include bp(medium) {
  //     justify-self: end;
  //   }

    // .story-pic {
    //   width: 100%;
    //   max-width: 300px;
    //   height: auto;

    //   @include bp(medium) {
    //     max-width: 315px;
    //   }
    // }
  // }

  #text-story {
    place-self: center;
    // width: 300px;
    padding: 1rem;
    max-width: 425px;
    font-size: 1.25rem;
    line-height: 1.5;

    // @include bp(medium) {
    //   justify-self: start;
    // }
  }

  #story-heading {
    grid-column: 1 / -1;
    place-self: center;
  }

  .cta {
    grid-column: 1 / -1;
    place-self: center;
    width: 100%;
    max-width: 300px;
    justify-self: center;
  }

  .cta-btn-img {
    height: auto;
    width: 100%;
  }
}
